<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="DemoHydridFramework">
<listeners>
<listener class-name="com.ds.utility.Reporting"/>
</listeners>
<test name="BankAppTest">
<parameter name="browser" value="chrome"/>
<classes>
<class name="com.ds.testdata.TC_logincase"/>
</classes>

</test>
</suite>